.setting-slider {
  visibility: hidden;
  display: none;
  padding: 15px;
  overflow-y: auto;
}

.h-close {
    display: flex;
    justify-content: space-between;
}

.h-close span {
    cursor: pointer;
    color: var(--color-danger);
}

.search span {
    display: flex;
    background-color: #124;
    align-items: center;
    padding: .3em .5em;
    border-radius: .4rem;
    box-shadow: var(--box-shadow);
}

.search span input {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: medium;
    width: 100%;
}

.u-profile {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #124;
    border-radius: .4rem;
    padding: .43rem 1em;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.u-profile img {
    border-radius: 50%;
    height: 54px;
    width: 54px;
}

.u-profile span > span {
    font-size: large;
    font-weight: 500;
}

.blog-set {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    padding: 1em 1em;
}

.blog-set .mode {
    display: flex;
    width: 100%;
    /* align-items: center; */
}

.light-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}

.on-light {
    /* TODO: light mode */

}


.lang {
    visibility: hidden;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .setting-slider {
    visibility: visible;
    display: flex;
    gap: .89em;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s ease-in-out;
    background-color: #001;
    z-index: 221;
    flex-direction: column;
  }

  .slide-off {
    left: -100%;
    transition: .4s ease-in;
  }
}

@media (max-height: 680px) and (max-width: 380px) {
}

@media (max-width: 540px) {
}

@media (max-width: 375px) {
}

@media screen and (max-width: 280px) {
}
/* Media Querirs ends */
