/* @@import "~/Ramastrap/ramastrap"; */
:root {
  --bgColor: #e1e1e1;
  --fontColor: #1e1e1e;
  --maxHeight: 100%;
}

* { margin: 0; padding: 0; }

html,
body {
  height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 250px;
}

nav.nav#nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  background-color: #1e1e1e;
  color: var(--bgColor);
  width: 250px;
}

.me {
  padding: 1.5em 0;
  animation: glow 2s infinite;
  background-color: #66f;
  text-align: center;
  font-weight: 600;
  font-size: large;
}

nav.nav#nav > ul { list-style: none; }

nav.nav#nav > ul > li {
  padding: 2em 2em;
  background-color: #111;
  border: 1px solid #1e1e1e;
}

nav.nav#nav > ul > li:hover { text-decoration: overline; }

nav.nav#nav > ul > li > a {
  color: #eee;
  text-decoration: none;
}

nav.nav#nav > ul > li > a:hover{ text-decoration: overline; }

.myTitle {
  margin-left: 250px;
  background-color: #1e1e1e;
  display: flex;
  padding: .64em;
  justify-content: space-between;
  align-items: center;
}

div.name > .myname {
  color: #e1e1e1;
}

#clickable-nav { 
  cursor: pointer;
  color: #2c88c0;
  font-size: x-large;
  transition: .3s linear;
 }

img[alt="profile"] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #111;
  cursor: pointer;
}

main.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  padding: 20px;
}

main.main > .container-fluid > img[alt="view-profile"] {
  height: 800px;
  
  opacity: 0.6;
  border-radius: 24px;
}

.container-fluid {
  margin-top: 850px;
  position: absolute;
  background: linear-gradient(rgba(3, 27, 59, 0.7), rgba(6, 2, 51, 0.7));
  border-radius: 24px;
  box-shadow: 0 0 10px 2px rgb(1, 1, 22);
}

.hidden {
  display: none;
}

 #clickable-nav:hover { color: #66f; }

@keyframes glow {
  from {
    text-shadow: 0px 0px 10px #f66;
  }

  25% {
    text-shadow: 0px 0px 10px #111;
  }

  50% {
    text-shadow: 0px 0px 10px #6f6;
  }

  75% {
    text-shadow: 0px 0px 10px rgb(217, 223, 35);
  }

  to {
    text-shadow: 0px 0px 10px rgb(230, 15, 169);
  }
  
}